name: CI

on:
  pull_request:
    branches:
      - main
      - renovate-github/**
  push:

jobs:
  validate:
    name: Validate
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Validate
        uses: rinchsan/renovate-config-validator@v0.2.0
