name: CI

on:
  pull_request:
    branches:
      - main
      - renovate-github/**
  push:

jobs:
  validate:
    name: Validate
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Validate
        uses: rinchsan/renovate-config-validator@v0.2.0
