name: Renovate
on:
  workflow_dispatch:
  schedule:
    - cron: '0/15 * * * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v44.0.3
        env:
          NX_CLOUD_AUTH_TOKEN: ${{ secrets.NX_CLOUD_AUTH_TOKEN }}
          LOG_LEVEL: debug
          RENOVATE_REUSE_PACKAGE_LOCK: false
          NODE_OPTIONS: "--max-old-space-size=4096"
        with:
          configurationFile: .github/renovate.config.js
          token: ${{ secrets.RENOVATE_SELF_HOSTED_TOKEN }}
